nav{
   max-width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-shadow: 10px 2px 10px #000;
}

nav ul li{
    padding: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 800;
}

nav ul li .link
{
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.2s;
}

nav ul li .link:hover{
    color: rgba(37, 36, 36, 0.671);
    border-bottom: 3px solid rgba(37, 36, 36, 0.671);
}
